
  <div class="row">
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
		{{#if model.immature}}
		<h4>Immature Blocks</h4>
		<div class="table table-responsive">
		<table class="table table-condensed table-striped">
		  <thead>
			<tr>
			  <th style="color:white">Height</th>
			  <th style="color:white">Login</th>
			  <th style="color:white">Time Found</th>
			  <th style="color:white">Variance</th>
			  <th style="color:white">Reward</th>
			  <th style="color:white">Type</th>
			</tr>
		  </thead>
		  <tbody>
			{{#each model.immature as |block|}}
			  {{partial "blocks/block"}}
			{{/each}}
		  </tbody>
		</table>
		</div>
		{{else}}
		<h3>No immature blocks!</h3>
		{{/if}}
       </div>
     </div>
  </div>

