<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="text-white"> How to get started</h1>
       <h4 class="text-white"> Software settings for connectiong to the pool are below.</h4>
	</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <p class="lead" style="color:white"> Settings for lolMiner </p>
	    <p class="text-white"> --algo ETCHASH --pool <span class="text-green">etc-solo.com:8010</span> --user YOUR_WALLET_ADDRESS.RIG_ID </p>
	  </div>
	</div>
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <p class="lead" style="color:white"> Settings for GMiner </p>
	    <p class="text-white"> --algo etchash --server <span class="text-green">etc-solo.com:8010</span> --user YOUR_WALLET_ADDRESS.RIG_ID </p>
	  </div>
	</div>
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <p class="lead" style="color:white"> Settings for T-Rex </p>
	    <p class="text-white"> -a etchash -o <span class="text-green">stratum+tcp://etc-solo.com:8010</span> -u YOUR_WALLET_ADDRESS -w RIG_ID -p x </p>
	  </div>
	</div>
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <p class="lead" style="color:white"> Settings for Team Red Miner </p>
	    <p class="text-white"> -a etchash -o <span class="text-green">stratum+tcp://etc-solo.com:8010</span> -u YOUR_WALLET_ADDRESS -p x --eth_worker RIG_ID </p>
	  </div>
	</div>
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <p class="lead" style="color:white"> Settings for NBminer </p>
	    <p class="text-white"> -a etchash -o <span class="text-green">stratum+tcp://etc-solo.com:8010</span> -u YOUR_WALLET_ADDRESS.RIG_ID </p>
	  </div>
	</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <p class="lead" style="color:white"> Settings for MiningRigRentals.com </p>
	    <p class="text-white">
		  <strong>Name:</strong> ETC-SOLO.COM<br>
		  <strong>Type:</strong> ETChash<br>
		  <strong>Pool Host:</strong> <span class="text-green">etc-solo.com:8010</span><br>
		  <strong>Workername (-u):</strong> YOUR_WALLET_ADDRESS<br>
		  <strong>Password (-p):</strong> x
		</p>
	  </div>
	</div>
  </div>
</div>
